In [1]:
import pandas as pd
import os
import sys
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)  # Display all columns without truncation

In [2]:
path = '/mnt/processed/private/msds-pt2025b/lt4/final_project/'

In [3]:
train_base = pd.read_csv(f"{path}/train/train_base.csv")

In [4]:
train_base.head()

   case_id date_decision     MONTH  WEEK_NUM  target
0        0    2019-01-03  201901.0       0.0     0.0
1        1    2019-01-03  201901.0       0.0     0.0
2        2    2019-01-04  201901.0       0.0     0.0
3        3    2019-01-03  201901.0       0.0     0.0
4        4    2019-01-04  201901.0       0.0     1.0

In [5]:
train_base.shape

(1108969, 5)

In [8]:
train_base['target'].sum()/len(train_base)

0.0308096980168066

In [9]:
train_base.dtypes

case_id            int64
date_decision     object
MONTH            float64
WEEK_NUM         float64
target           float64
dtype: object

In [11]:
summary = train_base.groupby('MONTH').agg(count = pd.NamedAgg(column = 'case_id', aggfunc = 'count')
                               ,target = pd.NamedAgg(column = 'target', aggfunc = 'sum'))\
                            .sort_values(by = 'MONTH')
summary['event_rate'] = summary['target']/summary['count']
summary

           count  target  event_rate
MONTH
201901.0   66662  1720.0    0.025802
201902.0   54063  1499.0    0.027727
201903.0   59641  1560.0    0.026157
201904.0   60446  1776.0    0.029382
201905.0   53790  1828.0    0.033984
201906.0   83311  2136.0    0.025639
201907.0   84564  2345.0    0.027730
201908.0   85964  2286.0    0.026593
201909.0   87749  2954.0    0.033664
201910.0   85483  3241.0    0.037914
201911.0  106343  3653.0    0.034351
201912.0   92232  3095.0    0.033557
202001.0   38023  1469.0    0.038635
202002.0   31795  1479.0    0.046517
202003.0   24256  1029.0    0.042422
202004.0    3404    67.0    0.019683
202005.0   12332   255.0    0.020678
202006.0   19808   487.0    0.024586
202007.0   12470   256.0    0.020529
202008.0   18894   395.0    0.020906
202009.0   24414   565.0    0.023142
202010.0    3324    72.0    0.021661

In [12]:
summary = train_base.groupby('WEEK_NUM').agg(count = pd.NamedAgg(column = 'case_id', aggfunc = 'count')
                               ,target = pd.NamedAgg(column = 'target', aggfunc = 'sum'))\
                            .sort_values(by = 'WEEK_NUM')
summary['event_rate'] = summary['target']/summary['count']
summary

          count  target  event_rate
WEEK_NUM
0.0       15829   374.0    0.023628
1.0       16423   407.0    0.024782
2.0       14891   392.0    0.026325
3.0       14320   366.0    0.025559
4.0       12217   355.0    0.029058
...         ...     ...         ...
87.0       6708   144.0    0.021467
88.0       5553   107.0    0.019269
89.0       5526   127.0    0.022982
90.0       4936   142.0    0.028768
91.0       5015   117.0    0.023330

[92 rows x 3 columns]

In [3]:
test_base = pd.read_csv(f"{path}/test/test_base.csv")

In [4]:
test_base.head()

   case_id date_decision   MONTH  WEEK_NUM
0    57543    2021-05-14  202201       100
1    57549    2022-01-17  202201       100
2    57551    2020-11-27  202201       100
3    57552    2020-11-27  202201       100
4    57569    2021-12-20  202201       100

In [5]:
test_base.shape

(10, 4)